/** 0. Reset CSS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/** 1. Header */

/** 2. Logo */
header{
  background-color: #24252a;
  box-shadow: 0 3px 10px #474647;
}
.nav-bar{
    display: flex;
    padding: 1.5rem 6rem;
    justify-content: space-between;
}
/** 3. Logo */
.logo{
    display: flex;
    align-items: center;
}
/** 4. Menu */
.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}
.nav-item{
    font-size: 1.5rem;
    text-align: center;
    width: 200px;
    color: #fff;
    padding: 10px;
    margin: 0 15px;
    transform: .7s all;
}
.nav-item:hover{
    width: 200px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    background-color: darkviolet;
}
.nav-link{
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 400;
}

.login-button button{
    color: #fff;
    width: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 13px;
    padding: 10px 15px;
    border-radius: 7px;
    background-color: darkviolet;
}

.login-button button a{
    text-decoration: none;
    color: #fff;
    font-weight: 700;
}

/** 5. Responsiva */