@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

header{
    background-color: #24252a;
    box-shadow: 0 3px 10px #464646;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 6rem;
}

.logo{
    display: flex;
    align-items: center;
}

.nav-list{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.nav-list ul{
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item{
    font-size: 1.5em;
    text-align: center;
    width: 200px;
    color: #fff;
    padding: 10px;
    margin: 0 15px;
    transition: .7s all;
}
.nav-item:hover{
    width: 200px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius: 7px;
    background-color: darkviolet;
}
.nav-link{
    text-decoration: none;
    font-size: 1.15rem;
    color: #FFF;
    font-weight: 400;
}

.login-button button{
    color: #fff;
    width: 100px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    margin-top: 13px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: darkviolet;
}

.login-button button a{
    text-decoration: none;
    color: white;
    font-weight: 700;
}

/* Mobile */
.mobile-menu-icon{
    display: none;
}

.mobile-menu{
    display: none;
}

/* Media Queries */

@media screen and (max-width: 730px) {
    .nav-bar{
        padding: 1.5rem 4rem;
    }
    .nav-item{
        display: none;
    }
    .login-button{
        display: none;
    }
    
    .mobile-menu-icon{
        display: block;
    }
    
    .mobile-menu-icon button{
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu-icon ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button{
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button{
        width: 100%;
    }

    .open{
        display: block;
    }
}